@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v19-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }


body {
    width: 650px;
    margin: 20%;
    font-family: Raleway;
}

header img {
    width : 210px;
}


h1 {
    font-size: 0.9em;
    font-weight: bold;
}

h2 {
    font-size: 0.6em;
    font-weight: normal;
}

h3 {
    font-size: 0.9em;
    font-weight: normal;
}


a:link {
    color: blue;
    text-decoration: none;
    padding: 10px 20px;
    border-top: 1px solid blue;

}

a:visited {
    color:black;
    border-top: #F2F2F2;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    
}

nav li {
    margin-right: 30px;
    font-size: 0.8em;
}

.f-ville {
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.f-gps {
    text-align: center;
    background-color:#F2F2F2;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    padding: 5px;
}

.f-querry {
    padding: 5px;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1px;
}

input[type=text] {
    border: none;
    outline: none;
    text-align: left;
}

.f-button {
    text-align: center;
    background-color: blue;
    color: #F2F2F2;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    padding: 5px;
}

.button {
    background-color:blue;
    color:white;
    border: transparent;
}

.filtres {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.filtres i {
    color:#0065FC;
    border-style: none;
    border-width: 1px;
    padding: 7px;
    border-radius: 50%;
    background-color:#DEEBFF;
}

.filtre-titre {
    margin: 5px;
    padding:7px;
}

.filtre-logo {
    border-radius: 25px;
    border-style:solid;
    border-color: #DEEBFF;
    border-left-style:none;
    border-width: 1px;
    margin: 5px;
    padding-right: 10px;
}

.filtre-logo:hover {
    border-style:outset;
    border-width: 3px;
    border-color:#0065FC;
    color:#0065FC;
}

section {
    display:flex;
    flex-direction:column-reverse;
    justify-content: space-between;
    padding: 0;
}

.ResultHotels {
    display: flex;
    flex-flow: column;
    padding: 2px;
    list-style: none;
    background-color: #F2F2F2;
    border-radius: 15px;
    width:auto;
}

.ResultHotels2 {
    display: flex;
    flex-flow: column;
    padding: 2px;
    list-style: none;
    background-color: #F2F2F2;
    border-radius: 15px;
    width:auto;
}

.hotels {

    background: white;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    width: 170px;
    height: 150px;
    font-size: 0.8em;
    text-align: bottom;
    box-shadow: 5px 5px 5px rgb(216, 211, 211);
    
}

.hotels2 {

    background: white;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    width: 250px;
    height: 105px;
    /*margin-top: 10px;*/
    font-size: 0.8em;
    /*text-align: center;*/
    box-shadow: 5px 5px 5px rgb(216, 211, 211);
    
}


.hotels img {
    width: 300px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    object-fit: cover;

}

.hotels2 img {
    float: left;
    width: 90px;
    height: 105px;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px ;
    object-fit: cover;

}


aside {
    
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    width:auto;
    padding: 2px;
    list-style: none; 
}

.ResultActivites {
    display:flex;
    flex-flow:column;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
    background-color: white;
    width:auto
}

.ResultActivites li {
    box-shadow: 1px 5px 5px #F2F2F2;
}

.activites-grand {

    background: white;
    border-radius: 15px;
    /*padding: 5px;*/
    margin: 5px;
    width: 300px;
    height:auto;
    font-size: 0.8em;
    /*box-shadow: 1px 5px 5px rgb(216, 211, 211);*/
    
}

.activites-grand img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    object-fit: cover;

}

.activites-petit {

    background: white;
    border-radius: 15px;
    /*padding: 5px;*/
    margin: 5px;
    width: 300px;
    height:auto;
    font-size: 0.8em;
    text-align: bottom;
    /*box-shadow: 5px 5px 5px rgb(216, 211, 211);*/
    
}

.activites-petit img {
    width: 300px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    object-fit: cover;

}

footer {
    display: flex;
    background-color: #F2F2F2 ;
    justify-content:space-evenly;
}

footer ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
