      body {
          width: 100%;
          margin: 0;
          padding: 0; 
      }

      h1 {
          font-size: 1.5em;
          padding-top: 5px;
          font-weight: 900;
      }

      h2 {
          font-size: 1.1em;
          font-weight: 900;
          margin:0;
          padding:0;
      }

      h3 {
          font-size: 1em;
      }

      nav {
          display: grid;
          grid-template-columns: repeat(2, 50%);
          font-weight: 900;
          gap:0;
      }

      nav a {
          font-size: 1em;
          padding: 0;
          border-top:0;
      }

      nav img {
          padding-left: 10px;
          width: 50%;
      }

      nav .logo {
          grid-row: 1;
          grid-column: 1;
      }

      nav .nav01 {
          grid-row: 2;
          grid-column: 1;
          margin-right: 0;
          font-weight: 400;
          padding-top:5px;
      }

      nav .nav02 {
          grid-row: 2;
          grid-column: 2;
          margin-right: 0;
          font-weight: 400;
          padding-top:5px;
      }

      nav .nav03 {
          grid-row: 1;
          grid-column: 2;
          text-align: right;
          padding-top:15px;
      }


      .nav03:hover {
          border-top: 0;
      }

      .nav01:link, .nav02:link {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 5px;
        border-top: 0px;
    }

      .nav01:visited, .nav02:visited {
        color: black;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 5px;
        border-top: 0px;
      }

      .nav01:active, .nav02:active, .nav01:hover, .nav02:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 5px;
        border-top: 0px;
      }

      .stitre {
          padding-left: 5%;
          padding-right: 10%;
          text-justify: auto;
      }

      .hebergements {
          flex-direction: column-reverse;
      }

      .hotels-header {
          width: auto;
      }

      .filtres {
        display: flex;
        flex-direction: row;
        padding: 20px;
        justify-content: flex-start;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 5%;
      }

      .filtre-titre {
          width: 100%;
      }

      .filtre-logo {
          padding: 5px;
      }

      .f-ville {
          padding-left: 5%;
      }

      .f-button {
          display: none;
      }

      .f-querry {
          width: 200px;
      }

      .f-button-p {
          display: block;
          text-align: center;
          background-color: #0065FC;
          color: #F2F2F2;
          border-radius: 8px;
          padding: 5px;
      }

      .alerte {
          padding-left: 20px;
      }

      .ResultHotels {
          flex-flow: column;
          width: auto;
          background-color: white;
          justify-content: center;
          align-items: center;
          padding: 0;
      }

      .hotels {
          width: auto;
          height: auto;
      }

      .hotels img {
          width: 320px;
          height: 120px;
      }

      .ResultHotels2 {
          display: flex;
          flex-direction: column;
          width: auto;
          align-items: center;
          justify-content: center;
          border-radius: 0%;
      }

      .hotels-HautBas {
          width: 80%;
          text-align: left;
      }

      .hotels2-header {
          width: 80%;
          justify-content: space-between;
          padding:0;
      }

      .activites-header {
          width: 80%;
          text-align: left;
          padding-left: 10%;
      }

      .hotels2 {
          width:95%;
      }

      .hotels2-box {
        width: 150px;
        height: 120px;
    }

      .ResultActivites {
          display: flex;
          flex-direction: column;
          background-color: white;
          align-items: center;
          margin: 5% 0 5%;
          row-gap:0;
      }

      .ResultActivites li {
          margin: 3% 0 3%;
      }

      .ResultActivites h4 {
          padding: 3% 0 2% 3%;
      }

      .ResultActivites img {
          width: 300px;
          height: 120px;
      }

      .mimg {
        object-position: 0 50%;
    }

      footer {
          flex-direction: column;
          margin:0;
      }