@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v19-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }


body {
    width: 900px;
    margin: auto;
    font-family: Raleway;
}


h1 {
    font-size: 1.2em;
    font-weight: bold;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.9em;
    font-weight: normal;
}

header {
    background-color: rgb(164, 242, 245);
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 30px;
}

footer {
    display: flex;
    background-color: aquamarine;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}



article {
    text-align: center;
    width:60%;
    background-color: #F2F2F2;
    border-radius: 15%;
    margin-right: 5%;
    


}

.ResultHotels {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 50;
    margin: 50;
    list-style: none;

}

.hotels {

    background: rgb(71, 255, 95);
    padding: 5px;
    margin:10px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    
}

img {
    /*max-width:100%;*/
    object-fit:fill;
    overflow:hidden;
    min-height: 0;
    min-width: 0;
}





aside {
    text-align: center;
    width:40%;
    background-color: #F2F2F2;
    border-radius: 15%;
    max-width: 15%;
}

