@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v19-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }


body {
    width: 900px;
    margin: auto;
    font-family: Raleway;
}

header img {
    width : 70px;
}


h1 {
    font-size: 0.9em;
    font-weight: bold;
}

h2 {
    font-size: 0.6em;
    font-weight: normal;
}

h3 {
    font-size: 0.9em;
    font-weight: normal;
}


a:link {
    color: blue;
    text-decoration: none;
    padding: 10px 20px;
    border-top: 1px solid blue;

}

a:visited {
    color:black;
    border-top: #F2F2F2;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

nav ul {
    list-style-type: none;
    display: flex;
    
}

nav li {
    margin-right: 30px;
    font-size: 0.8em;
}

.f-ville {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.f-gps {
    text-align: center;
    background-color:#F2F2F2;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    padding: 5px;
}

.f-querry {
    padding: 5px;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1px;
}

input[type=text] {
    border: none;
    outline: none;
    text-align: left;
}

.f-button {
    text-align: center;
    background-color: blue;
    color: #F2F2F2;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    padding: 5px;
}

.button {
    background-color:blue;
    color:white;
    border: transparent;
}

.filtres {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.filtres i {
    color:#0065FC;
    border-style: none;
    border-width: 1px;
    padding: 7px;
    border-radius: 50%;
    background-color:#DEEBFF;
}

.fi-titre {
    margin: 5px;
    padding:7px;
}

.fi-eco {
    border-radius: 25px;
    border-style:solid;
    border-color: #DEEBFF;
    border-left-style:none;
    border-width: 1px;
    margin: 5px;
    padding-right: 10px;
}

.fi-fam {
    border-radius: 25px;
    border-style:solid;
    border-color: #DEEBFF;
    border-left-style:none;
    border-width: 1px;
    margin: 5px;
    padding-right: 10px;
}

.fi-rom {
    border-radius: 25px;
    border-style:solid;
    border-color: #DEEBFF;
    border-left-style:none;
    border-width: 1px;
    margin: 5px;
    padding-right: 10px;
}

.fi-ani {
    border-radius: 25px;
    border-style:solid;
    border-color: #DEEBFF;
    border-left-style:none;
    border-width: 1px;
    margin: 5px;
    padding-right: 10px;
}

footer {
    display: flex;
    background-color: #F2F2F2 ;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.ResultHotels {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
    list-style: none;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.hotels {

    background: white;
    border-radius: 15px;
    padding: 5px;
    margin:10px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    font-size: 0.8em;
    text-align: bottom;
    box-shadow: 5px 5px 5px rgb(216, 211, 211);
    
}

.hotels img {
    width: 300px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    object-fit: cover;

}

.stars {
    display: flex;
    flex-direction: row;
}



aside {
    text-align: center;
    width:40%;
    background-color: #F2F2F2;
    border-radius: 15%;
    max-width: 15%;
}

