@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v19-latin-regular.eot');/* IE9 Compat Modes */
    src: local(''), url('fonts/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/raleway-v19-latin-regular.svg#Raleway') format('svg');/* Legacy iOS */
}

body {
    /*width: 1440px;*/
    margin: 0 auto;
    max-width: 1440px;
    font-family: Raleway;
}

h1 {
    font-size: 1.2em;
    font-weight: 900;
}

h2 {
    font-size: 1em;
    font-weight: 900;
    margin: 5px 0 0;
}

h3 {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
}

h4 {
    font-size: 0.9em;
    font-weight: 900;
    margin: 2%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

.sbleu {
    color: #0065FC;
}

.sgris {
    color: #F2F2F2;
}

.stats {
    padding-top: 6px;
}

nav {
    display: grid;
    grid-template-columns: 62% repeat(3, 12%);
    gap: 2%;
}

nav img {
    width: 20%;
    padding-top: 10px;
}

.nav01, .nav02, .nav03 {
    margin-right: 30px;
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    border-top: 2px solid white;
}

.nav01:link, .nav02:link {
    color: #0065FC;
}

.nav01:visited, .nav02:visited {
    color: black;
    border-top: white;
}

.nav01:hover, .nav01:active, .nav02:hover, .nav02:active {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.nav03 {
    font-weight: 900;
}

.stitre {
    margin-bottom: 2%;
}

/* Formulaire et filtres */

.f-ville {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.f-gps {
    text-align: center;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
}

.f-querry {
    padding: 5px;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1px;
}

input[type=text] {
    border: none;
    outline: none;
    text-align: left;
    font-weight: 900;
}

.f-button {
    text-align: center;
    background-color: #0065FC;
    color: #F2F2F2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

.button {
    background-color: #0065FC;
    color: white;
    border: transparent;
}

.f-button-p {
    display: none;
}

.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 10px;
    margin-bottom: 5px;
}

.filtres i {
    font-size: 12px;
    width: 15px;
    text-align: center;
    color: #0065FC;
    border-style: none;
    border-width: 1px;
    padding: 10px;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.filtre-titre {
    margin: 5px;
    padding: 7px;
    font-size: 0.9em;
    font-weight: bold;
}

.filtre-logo {
    border-radius: 25px;
    border-style: solid;
    border-color: #DEEBFF;
    border-left-style: none;
    border-width: 1px;
    margin: 5px 10px;
    padding-right: 10px;
}

.filtre-logo:hover {
    color: #0065FC;
    background-color: #F2F2F2;
}

.alerte {
    margin-bottom: 5px;
}

.alerte i {
    color: #0065FC;
    font-size: 10px;
    border-radius: 50%;
    border-color: #F2F2F2;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-style: solid;
    margin: 5px;
}

/* Resultats */

.hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

.ResultHotels {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 65%;
    padding: 0 1% 0;
}

.hotels-HautBas {
    width: 95%;
    margin: 20px 0 20px;
}

.hotels {
    background: white;
    border-radius: 15px;
    padding: 3px;
    margin: 1px 10px 15px;
    width: 28%;
    font-size: 0.8em;
    box-shadow: 5px 5px 5px rgb(234, 230, 230);
}

.hotels-infos {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1px 0 5px 10px;
}

.nom {
    padding-right: 1%;
}

.tarif {
    flex-grow: 1;
    padding: 2% 2% 2% 0;
}

.hotels img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.ResultHotels2 {
    display: flex;
    flex-direction: column;
    padding: 2px;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 28%;
}

.hotels2-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px;
    padding: 0 5% 0 5%;
}

.hotels2-header i {
    padding-right: 5%;
}

.hotels2 {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 15px;
    padding: 3px;
    margin: 1px 10px 15px;
    width: 90%;
    font-size: 0.8em;
    box-shadow: 5px 5px 5px rgb(234, 230, 230);
}

.hotels2 img {
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-right: 10px;
}

.hpop {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.activites-header {
    margin-bottom: 15px;
}

.ResultActivites {
    display: grid;
    gap: 3%;
    row-gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

.ResultActivites h2 {
    padding-left: 5%;
}

.ResultActivites li {
    box-shadow: 1px 5px 5px #F2F2F2;
    border-radius: 5%;
    height: max-content;
}

.pimg {
    object-fit: cover;
    object-position: 0 5%;
    width: 100%;
    height: 130px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.mimg {
    object-fit: cover;
    object-position: 0 35%;
    width: 100%;
    height: 160px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.gimg {
    object-fit: cover;
    object-position: 55% 20%;
    width: 100%;
    height: 360px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.act01 {
    grid-column: 1;
    grid-row: 1 /span 3;
}

.act02 {
    grid-row: 1 /span 2;
    grid-column: 2;
}

.act03 {
    grid-row: 3;
    grid-column: 2;
}

.act04 {
    grid-row: 1 /span 3;
    grid-column: 3;
}

.act05 {
    grid-row: 1;
    grid-column: 4;
}

.act06 {
    grid-row: 2 /span 2;
    grid-column: 4;
}

footer {
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    padding: 30px;
    margin: 0 -2% 0;
}

footer ul {
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer li {
    padding-top: 10px;
}